<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.suneelworkspace.night-shift</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/MAC/SuneelWorkSpace/hands/bin/dag-run</string>
    <string>/Users/MAC/SuneelWorkSpace/hands/automation/dag/pipelines/night_shift.yaml</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>22</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/MAC/SuneelWorkSpace/blood/logs/night-shift.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/MAC/SuneelWorkSpace/blood/logs/night-shift.err.log</string>
  <key>WorkingDirectory</key>
  <string>/Users/MAC/SuneelWorkSpace</string>
  <key>RunAtLoad</key>
  <false/>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Users/MAC/SuneelWorkSpace/hands/bin</string>
    <key>SUNEEL_WORKSPACE</key>
    <string>/Users/MAC/SuneelWorkSpace</string>
  </dict>
</dict>
</plist>
